<h1>New Place</h1>

<%= form_with :model => @place do |form| %>
 <div class="mb-3">
    <%= form.label "name" %>
    <%= form.text_field "name" %>
  </div>

  <div class="mb-3">
    <input class="btn btn-primary" type="submit" value="Submit">
  </div>
<% end %>